.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #101010; /* dark blue */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centered name */
.name {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

