.nav-container {
    position: fixed;
    bottom: 0;
    left: 2%;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    /* justify-content: center; */
    /* gap: 10px; */
    z-index: 100;
}

.nav-btn {
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: "MainFont";
    font-size: 16px;
    opacity: 0.6;
    transform: skewX(0deg) translateY(0);
    transition:
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn:hover {
    opacity: 1;
    transform: skewX(-8deg) translateY(-1px);
    font-weight: bold;
}


.nav-btn.active {
    opacity: 1;
    font-weight: bold;
}
