/* bottom navbar */
.nav-container {
    position: fixed;
    bottom: 0;
    left: 2%;
    display: flex;
    gap: 14px;
    padding: 12px 20px;
    z-index: 100;
    font-size: 16px;
    -webkit-text-stroke: 0.5px white;
}

/* nav buttons */
.nav-btn {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "MainFont";
    font-size: 16px;
    opacity: 0.6;
    transform: skewX(0deg);
    transition:
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn:hover,
.nav-btn.active {
    opacity: 1;
    transform: skewX(-8deg);
}

/* right social bar */
.social-bar {
    position: fixed;
    right: 2%;
    bottom: 0;
    display: flex;
    gap: 14px;
    padding: 12px 20px;
    z-index: 100;
    -webkit-text-stroke: 0.5px white;

}

.social-bar a {
    font-family: "MainFont";
    font-size: 16px;
    color: white;
    opacity: 0.6;
    text-decoration: none;
    transition:
        opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-bar a:hover {
    opacity: 1;
    transform: skewX(-8deg);
}

/* hide on mobile */
@media (max-width: 768px) {
    .social-bar {
        display: none;
    }
}
