/* Add your custom font */
@font-face {
  font-family: "MainFont";
  src: url("assets/BHN\ Sometimes\ Times\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "MainFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "MainFont", monospace;
}

html {
  scroll-behavior: smooth;
}